
@font-face {
	font-family: 'Bebas';
	src: url('/fonts/bebas-webfont.woff2') format('woff2'),
		 url('/fonts/bebas-webfont.woff') format('woff'),
		 url('/fonts/bebas-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
