
// club.less

.club-add, .club-search, .club-creation, .club-list {
	background-color: @color-yellow-pastel;
	margin: 1em;
	padding: 1em;

	.line {
		font-weight: 400;
		margin: 1em 0 0;
		line-height: 1.5em;
		.size(16);
	}

	.subtitle {
		font-weight: 500;
		margin: 1em 0 0;
		line-height: 1.5em;
		.size(24);
	}

	.line:first-child, .subtitle:first-child {
		margin-top: 0;
	}

	.link {
		.link(@color-blue, 100%);
	}
}

.club-add {
	background-color: @color-yellow-pastel;
}

.club-search, .club-creation, .club-list {
	background-color: @color-gray-pastel;
}

.club-list {
	.list {
		.reset-list();
		margin: 1em 0 0;

		.item {
			display: inline-block;
		}

		.item + .item {
			margin: 0 0 0 0.25em;
		}
	}
}

.club-profile {
	padding: 1em;
	overflow: hidden;

	.profile {
		text-align: center;

		.avatar {
			display: block;
			margin: 1em auto;
			width: 200px;
			height: 200px;
			border-radius: 20px;
			background-color: @color-gray;
			.background-cover();

			display: flex;
			align-items: center;
			justify-content: center;

			.letter {
				color: @color-gray-dark;
				.size(72);
			}
		}

		.title {
			.size(20);
		}

		.owner {
			.size(16);

			.link {
				.link(@color-blue);
			}

			.text + .link {
				margin-left: 0.25em;
			}
		}
	}

	.welcome {
		padding: 2em 1em;
		width: auto;
		flex: 1;
		text-align: center;

		.line {
			.size(24);
		}

		.link {
			.link(@color-blue);
		}
	}

	@media screen and (min-width: 700px) {
		display: flex;

		.profile {
			width: 200px;
		}

		.feed {
			padding: 4em 2em;
		}
	}
}
