
// common.less - shared component across pages

.page {

}

.page-header {
	width: 100%;
	height: 130px;
	overflow: hidden;
	position: relative;
	background-color: #355C7E;

	.image {
		.overlay();

		img {
			position: relative;
			display: block;
			width: 100%;
		}

		@media @supported {
			img {
				width: auto;
				height: 100%;
			}
		}

		@media screen and (min-width: 320px) {
			img {
				width: 100%;
				height: auto;
			}
		}

		@media @tablet {
			img {
				top: -20px;
			}
		}

		@media @tablet-medium {
			img {
				top: -40px;
			}
		}

		@media @monitor-small {
			img {
				top: -80px;
			}
		}

		@media @monitor-medium {
			img {
				top: -120px;
			}
		}

		@media @monitor-large {
			img {
				top: 0;
			}
		}
	}

	.wrapper {
		max-width: 1200px;
		margin: 0 auto;
		position: relative;
		z-index: 1;
		overflow: hidden;
	}

	.navigation, .login {
		position: absolute;
		top: 10px;
		font-weight: 300;
		.size(16);
		.reset-list();
	}

	.navigation {
		left: 10px;
	}

	.login {
		right: 10px;
	}

	.item {
		float: left;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}

	.title, .tagline {
		margin: 0;
		line-height: 1em;
		text-align: center;

		color: @color-white;
		font-weight: 400;
		.long-text();

		a {
			.link-alt(@color-yellow-light);
		}
	}

	.title {
		margin-top: 45px;
		font-family: @sans-logo;
		text-transform: uppercase;
		.size(36);
	}

	.tagline {
		margin-top: 4px;
		.size(20);
	}

	.tablet {
		display: none;
	}

	@media @tablet {
		height: 150px;

		.navigation, .login {
			.size(18);
		}

		.title {
			.size(48);
		}

		.tagline {
			.size(22);
		}
	}

	@media @tablet-medium {
		height: 180px;

		.navigation, .login {
			top: 15px;
		}

		.navigation {
			left: 15px;
		}

		.login {
			right: 15px;
		}

		.title {
			margin-top: 60px;
			.size(54);
		}

		.tagline {
			.size(24);
		}

		.tablet {
			display: inline-block;
		}
	}

	@media @tablet-large {
		height: 240px;

		.navigation, .login {
			top: 20px;
			.size(20);
		}

		.navigation {
			left: 20px;
		}

		.login {
			right: 20px;
		}

		.title {
			margin-top: 80px;
			.size(64);
		}

		.tagline {
			.size(28);
		}
	}
}

.page-menu {
	.overlay();
	position: fixed;
	z-index: 100;
	background-color: fadeout(@color-black-light, 2%);
	display: none;

	&.active {
		display: block;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;
		position: relative;
	}

	.navigation {
		display: block;
		overflow: hidden;
		.reset-list();

		margin-top: 20px;
	}

	.item {
		margin: 15px 20px;

		.m-button {
			color: @color-white;
		}

		.m-text {
			font-weight: 700;
			line-height: 20px;
			.size(24);
		}

		.m-icon {
			width: 20px;
			height: 20px;
			margin-right: 8px;
		}
	}

	.title {
		position: absolute;
		top: 15px;
		left: 15px;
		.size(20);
	}

	.close {
		position: absolute;
		top: 15px;
		right: 15px;
	}

	@media screen and (min-height: 300px) {
		.item {
			margin: 20px;

			.m-text {
				line-height: 24px;
				.size(28);
			}

			.m-icon {
				width: 24px;
				height: 24px;
			}
		}
	}

	@media screen and (min-height: 400px) {
		.item {
			.m-text {
				line-height: 32px;
				.size(36);
			}

			.m-icon {
				width: 32px;
				height: 32px;
			}
		}
	}
}

.page-content {

}

.page-section-title {
	width: 100%;
	height: 50px;
	background-color: @color-white;

	.wrapper {
		width: 100%;
		height: 100%;
		overflow: hidden;
		display: flex;
		align-items: center;
	}

	.title {
		color: @color-gray-dark;
		margin: 0 15px;
		font-weight: 400;
		line-height: 1em;
		.size(18);
	}
}

.featured-club {
	width: 100%;
	height: 80px;
	background-color: @color-gray-light;
	position: relative;
	overflow: hidden;

	.image {
		.overlay();

		img {
			position: relative;
			display: block;
			width: 100%;
		}

		@media @supported {
			img {
				top: -60px;
			}
		}
	}

	.wrapper {
		color: @color-white;
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 1;
		overflow: hidden;
		background-color: fadeout(@color-black, 80%);
	}

	.title {
		position: absolute;
		left: 0;
		bottom: -4px;
		margin: 0;
		line-height: 1em;
		font-weight: 700;
		.long-text();
		.size(36);

		a {
			.link-alt(@color-yellow-light);
		}
	}
}

.section-inset {
	box-shadow: inset 0 1px 0 0 fadeout(@color-black, 80%);
}

.featured-post {
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	overflow: hidden;

	.wrapper {
		width: 100%;
		display: flex;
	}

	.image-column {
		width: 80px;
	}

	.text-column {
		flex: 1;
		padding-left: 10px;
		max-height: 80px;
		overflow: hidden;
		position: relative;
		word-wrap: break-word;

		&:after {
			content: "";
			position: absolute;
			z-index: 1;
			right: 0;
			bottom: 0;
			height: 30px;
			width: 40px;
			display: block;
			background-image: linear-gradient(to right, fadeout(@color-gray-pastel, 100%), fadeout(@color-gray-pastel, 0%));
		}
	}

	.action-block {
		position: relative;
		.long-text();
		.size(14);

		&:after {
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;
			height: 100%;
			width: 80px;
			display: block;
			background-image: linear-gradient(to right, fadeout(@color-gray-pastel, 100%), fadeout(@color-gray-pastel, 0%) 20%);
		}

		.internal {
			margin: 10px 10px 10px 0;
		}

		.action {
			margin: 10px 0;
			position: absolute;
			right: 0;
			z-index: 2;
		}
	}

	.thumbnail {
		width: 80px;
		height: 80px;
		display: block;
		border-radius: 10px;
		background-color: @color-gray-light;
	}

	.link {
		font-weight: 700;
		margin: 0;
		line-height: 1.6em;
		.size(14);
		.long-text();

		a {
			.link(@color-blue);
		}
	}

	.title {
		font-weight: 300;
		margin: 0;
		line-height: 1.4em;
		.size(20);
	}
}

.page-load-button {
	width: 100%;
	padding: 15px;
	color: @color-white;
	box-sizing: border-box;
	overflow: hidden;

	.wrapper {
		display: block;
		width: 100%;
		padding: 15px 0;
		box-sizing: border-box;
		border: 1px solid @color-black;
		border-radius: 10px;
		background-color: @color-black;
		background-position: 50% 50%;

		text-align: center;
		line-height: 1em;
		font-weight: 400;
		.size(20);
		.link-alt(@color-yellow-light);
	}

	@media @x2 {
		.wrapper {
			background-size: 200px;
		}
	}
}

.page-footer {
	width: 100%;
	height: 200px;
	margin: 30px 0 0;
	background-color: #7888A1;
	.background-cover();

	.wrapper {
		width: 100%;
		height: 100%;
		text-align: center;
		overflow: hidden;
		position: relative;
	}

	.tagline {
		color: @color-white;
		margin: 20px 0;
		font-weight: 700;
		line-height: 1em;
		.size(20);
	}

	.footer {
		padding: 5px 10px;
		font-weight: 400;
		line-height: 1em;
		.size(20);
	}

	.navigation {
		position: absolute;
		bottom: 5px;
		display: block;
		width: 100%;
		.reset-list();
	}

	.item {
		color: @color-gray;
		display: inline-block;
		margin: 0 5px;
		line-height: 1em;
		.size(14);

		a {
			.link-alt(@color-yellow-light);
		}
	}
}
