
// common.less

.page {
	max-width: 1200px;
	margin: 0 auto;
}

.heading {
	text-align: center;
	padding: 2em 1em;
	overflow: hidden;

	.title {
		font-weight: 100;
		margin: 0;
		line-height: 1em;
		color: @color-blue;
		.size(64);
	}

	.subtitle {
		font-weight: 400;
		margin: 0;
		line-height: 1em;
		color: @color-black-pastel;
		.size(20);
	}

	.subtitle + .subtitle {
		margin: 10px;
	}
}

.menu {
	overflow: hidden;
	padding: 0.5em 1em;
	border-bottom: 1px solid @color-gray-pastel;

	.hint, .nav, .user {
		.reset-list();
		overflow: hidden;

		.item {
			margin: 0 0.25em;
			display: block;
			float: left;
		}
	}

	.hint {
		float: left;
		display: none;

		@media @supported {
			display: block;
		}

		@media @tablet {
			display: none;
		}
	}

	.nav {
		float: left;
		display: block;

		@media @supported {
			display: none;
		}

		@media @tablet {
			display: block;
		}
	}

	.user {
		float: right;
		display: block;
	}
}
