
// common.less - shared component across pages

.page {

}

.page-heading {
	background-color: #355C7E;
	background-image: url(/images/header-320.jpg);
	.background-cover();

	width: 100%;
	height: 130px;

	.wrapper {
		max-width: 1200px;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
	}

	.navigation, .login {
		position: absolute;
		top: 10px;
		font-weight: 300;
		.size(16);
		.reset-list();
	}

	.navigation {
		left: 10px;
	}

	.login {
		right: 10px;
	}

	.item {
		float: left;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}

	.title, .tagline {
		margin: 0;
		line-height: 1em;
		text-align: center;

		color: @color-white;
		font-weight: 400;
		.long-text();

		a {
			color: inherit;
			text-decoration: none;
		}
	}

	.title {
		margin-top: 40px;
		font-family: @sans-logo;
		text-transform: uppercase;
		.size(36);
	}

	.tagline {
		margin-top: 4px;
		.size(20);
	}

	.tablet {
		display: none;
	} 

	@media @mobile-large {
		background-position: 50% 40%;
	}

	@media @tablet {
		background-image: url(/images/header-640.jpg);
		height: 150px;

		.navigation, .login {
			.size(18);
		}

		.title {
			.size(48);
		}

		.tagline {
			.size(22);
		}
	}

	@media @tablet-medium {
		height: 180px;

		.navigation, .login {
			top: 15px;
		}

		.navigation {
			left: 15px;
		}

		.login {
			right: 15px;
		}

		.title {
			margin-top: 50px;
			.size(54);
		}

		.tagline {
			.size(24);
		}

		.tablet {
			display: inline-block;
		}
	}

	@media @tablet-large {
		background-position: 50% 30%;
		background-image: url(/images/header-960.jpg);
		height: 240px;

		.navigation, .login {
			top: 20px;
			.size(20);
		}

		.navigation {
			left: 20px;
		}

		.login {
			right: 20px;
		}

		.title {
			margin-top: 80px;
			.size(64);
		}

		.tagline {
			.size(28);
		}
	}

	@media @monitor {
		background-image: url(/images/header-1280.jpg);
		background-position: 50% 25%;
	}

	@media @monitor-large {
		background-position: 50% 0%;
	}
}

.page-menu {
	padding: 1em;
	overflow: hidden;
	border-bottom: 1px solid @color-gray-pastel;
	max-width: 1200px;
	margin: 0 auto;

	@media @tablet {
		border-color: transparent;
	}
}

.page-menu-group {
	.reset-list();
	overflow: hidden;

	&.hint {
		float: left;
		display: none;

		@media @supported {
			display: block;
		}

		@media @tablet {
			display: none;
		}
	}

	&.nav {
		float: left;
		display: block;

		@media @supported {
			display: none;
		}

		@media @tablet {
			display: block;
		}
	}

	&.user {
		float: right;
		display: block;
	}
}

.page-menu-item {
	display: block;
	float: left;
}

.page-menu-item + .page-menu-item {
	margin: 0 0 0 0.5em;
}
