
// landing.less

/*
.placeholder {
	text-align: center;
	padding: 5em 1em;
	overflow: hidden;

	display: flex;
	align-items: center;
	justify-content: center;

	.line {
		font-weight: 400;
		margin: 1em;
		line-height: 1em;
		color: @black;
		.size(20);
	}

	.list {
		.reset-list();
		overflow: hidden;

		.item {
			display: inline-block;
			margin: 0.25em;
		}
	}

	@media @tablet {
		padding: 10em 1em;

		.line {
			.size(24);
		}
	}
}
*/
