
// landing.less

.page-landing {
	max-width: 1000px;
	margin: 0 auto;
}

.intro {
	text-align: center;
	padding: 2em 1em;
	overflow: hidden;

	.title {
		font-weight: 100;
		margin: 0;
		line-height: 1em;
		color: @black;
		.size(64);
	}

	.subtitle {
		font-weight: 400;
		margin: 0;
		line-height: 1em;
		color: @black;
		.size(20);
	}

	.subtitle + .subtitle {
		margin: 10px;
	}
}

.menu {
	overflow: hidden;
	padding: 0.5em 1em;
	border-bottom: 1px solid @color-gray;

	.nav, .login {
		.reset-list();
		overflow: hidden;

		.item {
			margin: 0 0.25em;
			display: block;
			float: left;
		}
	}

	.nav {
		float: left;

		@media screen and (min-width: 1px) {
			.item {
				display: none;
			}

			.item:first-child {
				display: block;
			}
		}

		@media screen and (min-width: 700px) {
			.item {
				display: block;
			}

			.item:first-child {
				display: none;
			}
		}
	}

	.login {
		float: right;
	}
}

.section {
	text-align: center;
	padding: 1em;
	overflow: hidden;
	height: 300px;

	display: flex;
	align-items: center;
	justify-content: center;

	.line {
		font-weight: 400;
		margin: 1em;
		line-height: 1em;
		color: @black;
		.size(20);
	}

	.avatar {
		display: block;
		margin: 1em auto;
		width: 120px;
		height: 120px;
	}

	.link {
		display: block;
	}

	@media screen and (min-width: 700px) {
		height: 500px;

		.line {
			.size(24);
		}
	}
}
