
// buttons.less - reusable buttons

// standard button
// eg. <a class="m-button" href="..."><svg class="m-icon">...</svg><span class="m-text">...</span></a>
// eg. <a class="m-button" href="..."><div class="m-image">...</div><span class="m-text">...</span></a>
// eg. <button class="m-button">...</button>

.m-button {
	color: @color-gray-dark;

	display: inline-block;
	padding: 4px 8px;
	border: 1px solid;
	border-radius: 0.5em;
	box-sizing: border-box;

	font-weight: 400;
	line-height: 20px;

	text-decoration: none;
	background-color: transparent;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: fadeout(@color-white, 100%);

	&:focus {
		outline: 0;
	}

	&.rounded {
		border-radius: 200px;
	}

	.m-icon, .m-image, .m-text {
		display: inline-block;
		vertical-align: top;
	}

	.m-icon, .m-image {
		margin-right: 4px;
		width: 20px;
		height: 20px;
	}

	.m-icon {
		fill: currentColor;
	}

	.m-image {
		border-radius: 50%;
		background-color: @color-gray;
	}

	// extra styling

	&.heading {
		color: @color-white;
		border-color: transparent;
		background-color: fadeout(@color-black, 80%);

		&:hover, &:focus {
			background-color: fadeout(@color-black, 60%);
		}

		&:active {
			background-color: fadeout(@color-black, 40%);
		}

		&.active {
			color: @color-yellow-light;
		}
	}

	&.cancel {
		&:hover, &:focus {
			background-color: @color-gray-dark;
			color: @color-white;
			border-color: @color-gray-dark;
		}

		&:active {
			background-color: darken(@color-gray-dark, 10%);
			color: @color-white;
			border-color: darken(@color-gray-dark, 10%);
		}
	}

	&.accept {
		color: @color-green;

		&:hover, &:focus {
			background-color: @color-green;
			color: @color-white;
			border-color: @color-green;
		}

		&:active {
			background-color: darken(@color-green, 10%);
			color: @color-white;
			border-color: darken(@color-green, 10%);
		}
	}

	&.highlight {
		color: @color-yellow-dark;

		&:hover, &:focus {
			background-color: @color-yellow-dark;
			color: @color-white;
			border-color: @color-yellow-dark;
		}

		&:active {
			background-color: darken(@color-yellow-dark, 10%);
			color: @color-white;
			border-color: darken(@color-yellow-dark, 10%);
		}
	}

	&.post {
		color: @color-green;

		&:hover, &:focus {
			background-color: @color-green;
			color: @color-white;
			border-color: @color-green;
		}

		&:active {
			background-color: darken(@color-green, 10%);
			color: @color-white;
			border-color: darken(@color-green, 10%);
		}
	}

	&.github {
		color: @color-black-light;

		&:hover, &:focus {
			background-color: @color-black-light;
			color: @color-white;
			border-color: @color-black-light;
		}

		&:active {
			background-color: darken(@color-black-light, 10%);
			color: @color-white;
			border-color: darken(@color-black-light, 10%);
		}
	}

	&.twitter {
		color: @color-blue;

		&:hover, &:focus {
			background-color: @color-blue;
			color: @color-white;
			border-color: @color-blue;
		}

		&:active {
			background-color: darken(@color-blue, 10%);
			color: @color-white;
			border-color: darken(@color-blue, 10%);
		}
	}
}
