
// buttons-extra.less

.m-button {
	&.heading {
		color: @color-white;
		font-weight: 300;

		&:hover, &:focus, &.active {
			background-color: fadeout(@color-black, 75%);
			border-color: transparent;
		}

		&:active {
			background-color: fadeout(@color-black, 50%);
			border-color: transparent;
		}
	}

	&.navigation {
		padding: 4px;
	}

	&.login {
		padding: 4px 4px 4px 8px;
	}

	&.cancel {
		&:hover, &:focus {
			background-color: @color-gray-dark;
			color: @color-white;
			border-color: @color-gray-dark;
		}

		&:active {
			background-color: darken(@color-gray-dark, 10%);
			color: @color-white;
			border-color: darken(@color-gray-dark, 10%);
		}
	}

	&.accept {
		color: @color-green;

		&:hover, &:focus {
			background-color: @color-green;
			color: @color-white;
			border-color: @color-green;
		}

		&:active {
			background-color: darken(@color-green, 10%);
			color: @color-white;
			border-color: darken(@color-green, 10%);
		}
	}

	&.highlight {
		color: @color-yellow-dark;

		&:hover, &:focus {
			background-color: @color-yellow-dark;
			color: @color-white;
			border-color: @color-yellow-dark;
		}

		&:active {
			background-color: darken(@color-yellow-dark, 10%);
			color: @color-white;
			border-color: darken(@color-yellow-dark, 10%);
		}
	}

	&.post {
		color: @color-green;

		&:hover, &:focus {
			background-color: @color-green;
			color: @color-white;
			border-color: @color-green;
		}

		&:active {
			background-color: darken(@color-green, 10%);
			color: @color-white;
			border-color: darken(@color-green, 10%);
		}
	}

	&.github {
		color: @color-black-light;

		&:hover, &:focus {
			background-color: @color-black-light;
			color: @color-white;
			border-color: @color-black-light;
		}

		&:active {
			background-color: darken(@color-black-light, 10%);
			color: @color-white;
			border-color: darken(@color-black-light, 10%);
		}
	}

	&.twitter {
		color: @color-blue;

		&:hover, &:focus {
			background-color: @color-blue;
			color: @color-white;
			border-color: @color-blue;
		}

		&:active {
			background-color: darken(@color-blue, 10%);
			color: @color-white;
			border-color: darken(@color-blue, 10%);
		}
	}
}
