
// buttons.less - reusable buttons

// standard button
// eg. <a class="m-button" href="..."><svg class="m-icon">...</svg><span class="m-text">...</span></a>
// eg. <a class="m-button" href="..."><div class="m-image">...</div><span class="m-text">...</span></a>
// eg. <button class="m-button">...</button>

.m-button {
	color: @color-gray-dark;

	display: inline-block;
	padding: 4px 8px;
	border: 1px solid;
	border-radius: 0.5em;
	box-sizing: border-box;

	font-weight: 400;
	line-height: 20px;

	text-decoration: none;
	background-color: transparent;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: fadeout(@color-white, 100%);

	&:focus {
		outline: 0;
	}

	&.rounded {
		border-radius: 200px;
	}

	.m-icon, .m-text {
		display: inline-block;
		vertical-align: top;
	}

	.m-icon {
		margin-right: 4px;
		width: 20px;
		height: 20px;
		fill: currentColor;

		&.m-avatar {
			border-radius: 50%;
			background-color: @color-gray-light;
			.background-cover();
		}
	}

	// extra styling

	&.header {
		color: @color-white;
		border-color: transparent;
		background-color: fadeout(@color-black, 80%);

		&:hover, &:focus {
			background-color: fadeout(@color-black, 60%);
		}

		&:active {
			background-color: fadeout(@color-black, 40%);
		}

		&.active {
			color: @color-yellow-light;
		}
	}

	&.internal {
		border-color: transparent;
		border-radius: 0;
		padding: 0;

		&:hover, &:focus, &:active {
			color: @color-black-light;

			.m-text {
				box-shadow: inset 0 -2px 0 0 fadeout(@color-black-light, 70%);
			}
		}
	}

	&.action {
		border-color: transparent;
		border-radius: 0;
		padding: 0;

		&:hover, &:focus, &:active {
			color: @color-black-light;
		}

		&.active {
			color: @color-red;
		}
	}

	&.footer {
		color: @color-white;
		border-color: transparent;
		background-color: fadeout(@color-black, 80%);

		&:hover, &:focus {
			background-color: fadeout(@color-black, 60%);
		}

		&:active {
			background-color: fadeout(@color-black, 40%);
		}

		&.active {
			color: @color-yellow-light;
		}
	}

	&.secondary {
		border-color: transparent;
		border-radius: 0;
		padding: 0;
		.size(20);
	}

	&.discover {
		color: @color-white;
		border-color: transparent;
		border-radius: 0;
		padding: 0;

		font-weight: 700;
		line-height: 32px;
		.size(36);

		.m-icon {
			width: 32px;
			height: 32px;
			margin-right: 8px;
		}

		&.home {
			.m-icon {
				fill: @color-blue-light;
			}
		}

		&.club {
			.m-icon {
				fill: @color-yellow-light;
			}
		}

		&.login {
			.m-icon {
				fill: @color-red-light;
			}
		}

		&.ranking {
			.m-icon {
				fill: @color-green-light;
			}
		}

		&.help{
			.m-icon {
				fill: @color-gray-dark;
			}
		}
	}
}
