
// buttons.less - reusable buttons

// standard button
// eg. <a class="m-button" href="..."><svg class="m-icon">...</svg><span class="m-text">...</span></a>
// eg. <a class="m-button" href="..."><div class="m-image">...</div><span class="m-text">...</span></a>
// eg. <button class="m-button">...</button>

.m-button {
	color: @color-gray-dark;

	display: inline-block;
	padding: 4px 8px;
	border: 1px solid;
	border-radius: 0.5em;
	box-sizing: border-box;

	font-weight: 400;
	line-height: 20px;
	.size(16);

	text-decoration: none;
	background-color: transparent;
	-webkit-appearance: none;

	&:focus {
		outline: 0;
	}

	&.rounded {
		border-radius: 200px;
	}

	.m-icon, .m-image, .m-text {
		display: inline-block;
		vertical-align: top;
	}

	.m-icon, .m-image {
		margin-right: 4px;
		width: 20px;
		height: 20px;
	}

	.m-icon {
		fill: currentColor;
	}

	.m-image {
		border-radius: 50%;
		background-color: @color-gray;
	}
}
