
// content-row.less - reusable content display box

.m-content {
	overflow: hidden;

	.m-section {
		padding: 1em;

		.m-subtitle {
			margin: 0 0 1em;
			padding-left: 0.5em;
			font-weight: 300;
			line-height: 1em;
			border-left: 1em solid @color-gray-light;
			.size(24);
		}

		.m-line {
			margin: 0.5em 0;
			line-height: 1.5em;
			.size(16);
		}

		&:first-child {
			background-image: linear-gradient(to bottom, @color-gray-pastel, @white);
			border-radius: 20px 20px 0 0;
		}

		&.blue {
			.m-subtitle {
				border-left-color: @color-blue-light;
			}
		}

		&.red {
			.m-subtitle {
				border-left-color: @color-red-light;
			}
		}

		&.green {
			.m-subtitle {
				border-left-color: @color-green-light;
			}
		}

		&.yellow {
			.m-subtitle {
				border-left-color: @color-yellow-light;
			}
		}
	}

	.m-section + .m-section {
		margin-top: 1em;
	}

	.line {
		margin: 1em 0 0;
		line-height: 1.5em;
		.size(16);
	}

	.subtitle {
		margin: 1em 0 0;
		line-height: 1.5em;
		.size(24);
	}

	.secondary {
		color: @color-gray-dark;
		.size(14);
	}

	.line:first-child, .subtitle:first-child {
		margin-top: 0;
	}

	.link {
		.link(@color-blue, 100%);
	}

	&.error {
		background-color: @color-red-pastel;
		color: @color-red;
	}
}
