
// doc.less - global styling

body {
	// fallback to standard antialiasing instead of subpixel
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: @color-black;
	background-color: @color-gray-pastel;
	margin: 0;
}

// default font stack based on interface language
body:lang(en) {
	font-family: @sans-en;
}

body:lang(zh) {
	font-family: @sans-cn;
}
