
// profile-row.less - reusable profile display box

.m-profile {
	display: flex;

	.m-avatar {
		display: inline-block; //fallback
		vertical-align: top;
		width: 100px;
		height: 100px;
		border-radius: 20px;
		background-color: @color-gray-pastel;

		display: flex;
		align-items: center;
		justify-content: center;

		.m-letter {
			color: @color-gray;
			.size(36);
		}
	}

	.m-info {
		display: inline-block; //fallback
		flex: 1;
		margin: 0 0 0 1em;
		overflow: hidden;

		display: flex;
		justify-content: center;
		flex-direction: column;

		.m-title {
			margin: 0;
			line-height: 1.2em;
			.size(24);
		}

		.m-owner {
			margin: 0.25em 0 0;
			color: @color-gray-dark;
			.size(16);
		}

		.m-copyright {
			display: none;
			margin: 1em 0 0;
			color: @color-gray-dark;
			.size(12);
			.long-text();
		}

		.m-copyright + .m-copyright {
			margin-top: 0;
		}

		.m-stat {
			display: none;
			margin: 1em 0 0;
			color: @color-gray-dark;
			.size(14);

			.m-stat-value {
				margin: 0 0.25em;
				color: @color-black;
			}
		}

		.m-stat + .m-stat {
			margin-top: 0;
		}

		&.active {
			.m-copyright {
				display: block;
			}

			.m-stat {
				display: block;
			}
		}
	}

	@media @tablet {
		.m-avatar {
			width: 200px;
			height: 200px;
			margin: 0;

			.m-letter {
				.size(64);
			}
		}

		.m-info {
			margin: 1em;

			.m-copyright {
				display: block;
			}

			.m-stat {
				display: block;
			}
		}
	}
}
